<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог фильмов</title>
</head>
<body>
    <h1>Каталог фильмов</h1>
    {% if films %}
        <ul>
            {% for film in films %}
                <li>
                    <strong>{{ film.title }}</strong> ({{ film.publish_year }}) - Жанр: {{ film.genre }} - Лайков: {{ film.likes }}, Дизлайков: {{ film.dislikes }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Запрашиваемые фильмы не найдены.</p>
    {% endif %}
</body>
</html>
